<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.swblog.pojo"/>
    </typeAliases>

    <mappers>
        <mapper class="com.swblog.dao.UserMapper"/>
        <mapper class="com.swblog.dao.PostMapper"/>
    </mappers>

</configuration>